/* navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1 rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
#home{
height: 281px;
padding: 3px 11px
}
#home::before{
    height: 480px;
    
    }
#services {
flex-direction: column;
}
#services .box {
  
    margin: 11px 25px;
}
#clients{
    overflow: hidden;
}



/* client section */

/* contact us section */

/* footer */


.h-primary{
    font-size: 26px;
}